################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FileTextAnalyzer/CopilotIndices/0.2.1657.32929/CodeChunks.db-shm
/.vs/FileTextAnalyzer/CopilotIndices/0.2.1657.32929/CodeChunks.db-wal
/.vs/FileTextAnalyzer/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-shm
/.vs/FileTextAnalyzer/FileContentIndex/4c41a97b-50e4-402b-80b0-0f6cb94de62b.vsidx
/.vs/FileTextAnalyzer/FileContentIndex/b9a4b0d9-327e-47b9-992d-aef4ee0ba96e.vsidx
/.vs/FileTextAnalyzer/FileContentIndex/ee40b106-44ef-457d-a7dc-0be1ff2f6e57.vsidx
/FileTextAnalyzer/bin/Debug/FileTextAnalyzer.exe
/FileTextAnalyzer/bin/Debug/FileTextAnalyzer.pdb
/FileTextAnalyzer/bin/Debug/log.txt
/.vs/FileTextAnalyzer/v17/.suo
/.vs/FileTextAnalyzer/v17/DocumentLayout.backup.json
/.vs/FileTextAnalyzer/v17/DocumentLayout.json
/FileTextAnalyzer/obj/Debug/FileTextAnalyzer.csproj.CoreCompileInputs.cache
/FileTextAnalyzer/obj/Debug/FileTextAnalyzer.exe
/FileTextAnalyzer/obj/Debug/FileTextAnalyzer.pdb
/.vs/FileTextAnalyzer/CopilotIndices/0.2.1657.32929/CodeChunks.db
/.vs/FileTextAnalyzer/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-wal
/.vs/FileTextAnalyzer/FileContentIndex/04b67bd8-a7e1-4a02-9314-e746e61a97bf.vsidx
/.vs/FileTextAnalyzer/FileContentIndex/d6a7b19b-712b-42a4-a93b-8bc01b4e9060.vsidx
/FileTextAnalyzer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FileTextAnalyzer/obj/Debug/FileTextAnalyzer.csproj.AssemblyReference.cache
/.vs/FileTextAnalyzer/FileContentIndex/39a71c51-443c-4ccf-81c6-a7c8fd0d3cb6.vsidx
/.vs/FileTextAnalyzer/FileContentIndex/47b7bd99-40c7-49f8-9369-8deed103b90b.vsidx
/.vs/FileTextAnalyzer/FileContentIndex/8b5a797d-9e26-4a61-8664-2fc46a67aa33.vsidx
/FileTextAnalyzer/.vs/FileTextAnalyzer.csproj.dtbcache.json
/.vs/FileTextAnalyzer/FileContentIndex/8eb97c7c-b441-4ce6-b919-9014b83f1794.vsidx
/.vs/FileTextAnalyzer/FileContentIndex/ba884ce8-5b72-4f44-b411-2d1c706fd199.vsidx
